* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

header {
    margin: 1rem auto;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_left, .header_right {
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    border-radius: 50%;
}

.header_left svg, .header_right svg {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(14, 75, 14);
}

h1 {
    width: 80%;
    text-align: center;
    background-color:rgb(14, 75, 14);
    padding: 5px 15px;
    margin: 5px 2rem;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 2.5rem;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

.chips-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.chip {
    margin: 0 10px;
    background-color: rgb(14, 75, 14);
    border-radius: 60px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.chip-image {
    width: 90px;
    margin: -5px;
    position: relative;
    display: flex;
}

img {
    width: 100%;
    border-radius: 50%;
}

.chip-value {
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    top: 37%;
    left: 0;
}

.chip-counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chip button {
    margin: 5px;
}

button {
    background-color: inherit;
    width: 50px;
    height: 50px;
    color: inherit;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-accept, .trash-accept, #settings {
    z-index: 10;
    width: 90%;
    max-width: 600px;
    padding: 10px 0;
    position: fixed;
    top: 5px;
    background-color: rgba(14, 75, 14, .8);
    backdrop-filter: blur(5px);
    border-radius: 60px;
    border: 2px solid black;
    display: none;
}

.acceptance {
    display: flex;
    justify-content: space-evenly;
}

#settings {
    min-width: 320px;;
    padding: 1rem 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.settings_header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.settings_chip {
    margin: 5px auto;
}

.settings_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

input {
    padding: 5px;
    width: 60px;
    margin: 5px;
    background-color: inherit;
    color: inherit;
    font-size: 1.2rem;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 5px;
    z-index: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.473);
}

@media screen and (max-width: 700px) {
    .chips-container {
        flex-direction: column;
        align-items: center;
    }
    .chip {
        margin: 10px;
        padding: 0;
        width: 270px;
        
        flex-direction: row;
    }
    .chip-counter {
        width: 70%;
        flex-direction: row-reverse;
    }
    .chip-counter>* {
        margin: 5px;
    }
}