* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

/* custom scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: green;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(2, 82, 2);
        border-radius: 15px;
    }

h1 {
    background-color:rgb(14, 75, 14);
    padding: 5px 15px;
    margin: 5px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 2.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

.chips-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.chip {
    margin: 5px;
    background-color: rgb(14, 75, 14);
    border-radius: 60px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.chip-image {
    width: 100px;
    position: relative;
}

img {
    width: 100%;
}

.chip-value {
    z-index: 10;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
    top: 30%;
    left: 0;
}

.chip button {
    margin: 5px;
}

button {
    background-color: inherit;
    width: 50px;
    height: 50px;
    color: inherit;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    border-radius: 50%;
}

.trash {
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    border-radius: 50%;
}

.reset svg, .trash svg {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(14, 75, 14);
}

@media screen and (max-width: 450px) {
    .chips-container {
        flex-direction: column;
    }
    .chip {
        flex-direction: row;
    }
    .chip-counter {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-height: 700px) {
    .chips-container {
        padding-top: 100px;
    }
}

@media screen and (max-height: 600px) {
    .chips-container {
        padding-top: 150px;
    }
}

@media screen and (max-height: 500px) {
    .chips-container {
        padding-top: 200px;
    }
}